@font-face {
  font-family: SuessFont;
  src: url(../fonts/Dr.SeussFont.otf);
}

body {
  background-image: url(../img/background.png);
  text-align: center;
  font-family: SuessFont;
  font-size: xx-large;
}

h1 {
  font-size: 3em;
}