@{
  Layout = "_Layout";
}

@model DrSneussFactory.Models.Machine

<h3>Add A New Machine</h3>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.MachineName)
  @Html.TextBoxFor(model => model.MachineName)
  <input type="submit" value="Add new machine" />
}
<button>@Html.ActionLink("See all machine", "Index")</button>