@{
  Layout = "_Layout";
}

@model DrSneussFactory.Models.Engineer

<h2>Add a Machine</h2>

<h4>Add a machine this engineer is permitted to fix: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.Label("")
  @Html.DropDownList("")

  <input type="submit" value="Save" />
}